.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #131921;
}

.login__logo {
  width: 600px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: white;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  width: 100%;
  height: 30px;
  background-color: rgb(104, 184, 170);
  border: 1px solid;
  margin-top: 10px;
  border-color: rgb(3, 51, 43);
  color: #111;
}
